---
import Layout  from '../layouts/Layout.astro';
import Nav     from '../components/Nav.astro';
import Hero    from '../components/Hero.astro';
import About   from '../components/About.astro';
import Skills  from '../components/Skills.astro';
import Companies from '../components/Companies.astro';
import Projects from '../components/Projects.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact  from '../components/Contact.astro';
import Footer   from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <div class="divider"></div>
    <About />
    <div class="divider"></div>
    <Skills />
    <div class="divider"></div>
    <Companies />
    <div class="divider"></div>
    <Projects />
    <div class="divider"></div>
    <Testimonials />
    <div class="divider"></div>
    <Contact />
  </main>
  <Footer />
</Layout>